@model IEnumerable<Microsoft.AspNetCore.Identity.EntityFrameworkCore.IdentityRole>
    

    @{
        ViewData["Title"] = "Index";
    }

    <h2>Manage User Roles</h2>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                   
                </th>
                <th>
                   
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in Model)
            {
                <p>
                    <strong>@role.Name </strong><br />
                    <span onclick="return confirm('Are you sure to delete?')"><a href="/Roles/Delete?RoleName=@role.Name" class="delLink" style="color:red; font-size:11px"> Delete @role.Name Role</a></span> 
                </p>
            }
        </tbody>
    </table>
